*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --bg-color: #18191A;
  --logo-color: #242526;
  --hover-color: #606770;
  --gorup-color: #444950;
  --logo-hover: rgba(201, 76, 76, 0.2);
  --text-color: #ffffff;
  --active-color: #2C9244;
  --border-color: #297BE5;
}

body{
  background-color: var(--bg-color);
}

.container{
  display: flex;
  justify-content: space-between;
}
/* left nav abr */
.left{
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 100vh;
  background-color: red;
}

.left .logo{
  width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--logo-color);
}

.left .logo .profile-logo{
  position:relative;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-logo img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-logo .fb-logo{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 1px;
  right: -8px;
  border: 2px solid var(--logo-color);
}

.left .logo .icons{
  width: 60px;
  height: 60px;
  padding: 20px;
}

.left .logo .icon-group{
  width: 60px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: var(--gorup-color);
}

.left .logo .icons:hover{
  border-radius: 10px;
  background-color: var(--hover-color);
}



.left .full{
  width: 340px;
  height: 100vh;
  background-color: var(--bg-color);
}

.full h1{
  color: var(--text-color);
  font-size: 30px;
  margin: 20px 20px;
}

.full h3{
  color: var(--text-color);
  font-size: 18px;
  margin: 10px 20px;
}

.full .full-icons{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
  padding: 10px 20px;
}

.round img{
  border-radius: 10px;
}

.full .full-icons:hover{
  background-color: var(--hover-color);
  border-radius: 10px;
}

.full .full-icons img{
  width: 20px;
  height: 20px;
}

.full .full-icons span{
  color: var(--text-color);
  font-size: 14px;
}

.full .shortcuts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.full .shortcuts a{
  text-decoration: none;
  color: var(--border-color);
}

/* home */
.home-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 650px;
  height: 300vh;
  background-color: var(--bg-color);
}

.home .my-day{
  display: flex;
  gap: 5px;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 250px;
}

.my-day .my-myday, .others{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 150px;
  height: 100%;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

.my-day .my-myday .profile{
  width: 100%;
  height: 75%;
  object-fit: cover;
  filter: blur(1px);
  overflow:hidden;
  border-radius: 10px;
}

.my-myday .add{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 15%;
  border: 5px solid var(--bg-color);
  border-radius: 50%;
}

.my-myday span{
  position:absolute;
  bottom: 10px;
  color: var(--text-color);
}

.my-day .others .profile-picture{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  object-fit: cover;
  border: 5px solid var(--border-color);
  border-radius: 50%;
}

.my-day .others .story{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.my-day .others .active{
  position: absolute;
  top: 35px;
  left: 40px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
  background-color: var(--active-color);
}

.my-day .others .name{
  position: absolute;
  bottom: 10px;
  color: var(--text-color);
}

.my-day .next{
  width: 40px;
  height: 40px;
  position: absolute;
  right: -20px;
  top: 45%;
  border-radius: 50%;
  z-index: 2;
}

.post-create{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: var(--logo-color);
  border-radius: 10px;
}

.post-create .create{
  display: flex;
  margin-bottom: 10px;
}

.post-create .create img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.post-create .create input{
  width: 100%;
  padding: 5px 10px;
  border-radius: 30px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
}

.post-create .live{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.post-create .live a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  width: 35%;
  padding: 5px 10px;
}

.post-create .live a:hover{
  background-color: var(--border-color);
  border-radius: 10px;
}

.post-create .live img{
  width: 20px;
  height: 20px;
}

.room{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: var(--logo-color);
  border-radius: 10px;
}

.room a{
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  border-radius: 30px;
}

.room a img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.room .room-profile{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.room-profile span{
  position: absolute;
  bottom: 3px;
  right: -5px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--bg-color);
  border-radius: 50px;
  background-color: var(--active-color);
}

.room-profile img{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}

.room .more{
  width: 50px;
  height: 50px;
  position:absolute;
  right: 15px;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
}

.home .post{
  width: 100%;
  border-radius: 10px;
  background-color: var(--logo-color);
}

.post .post-head{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.post-head .start{
  display: flex;
  gap: 10px;
}

.post-head .start > img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.post-head .start .side{
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.start .side .name span {
  color: var(--text-color);
}

.side .hour-public{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.side .hour-public span{
  color: var(--text-color);
}

.side .hour-public > img{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.post-head .end > img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.post .post-body > p{
  padding: 20px;
  color: var(--text-color);
  text-align: justify;
}

.post .post-body > img{
  width: 100%;
  object-fit: cover;
}

.post .post-reaction{
  position:relative;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}

.post-reaction .reacts{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.post-reaction .reacts .react-emojis{
  display: flex;
  align-items: center;
  gap: 10px;
}

.total-reacts{
  display: flex;
  gap: 10px;
}

.react-emojis > span, .total-reacts > span{
  color: var(--text-color);
}

.emoji-group{
  display: flex;
  gap: -1px;
}

.react-emojis .emoji-group > img{
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.emoji-btns{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.emoji-btns > a {
  width: 190px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
}

.emoji-btns .emoji-btngroup > a{
  width: 20px;
  text-align: center;
  background-color: var(--active-color);
}

.emoji-btns a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--text-color);
  text-decoration: none;
}

.emoji-btns a:hover{
  background-color: var(--hover-color);
}

.emoji-btns a > img {
  width: 20px;
  height: 20px;
}

.change-profile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-profile a{
  padding: 5px;
  border-radius: 5px;
}

.emoji-btns .change-profile a img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.all-emoji-btns:hover ~ .post-react-hover{
  display: block;
  position: absolute;
  top: 60px;
}

.post-react-hover {
  width: 200px;
  height: 40px;
  display: none;
}
.post-react-hover > img {
  width: 30px;
  height: 30px;
  gap: 5px;
  border-radius: 50%;
}

/* righ nav bar */
.right{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 400px;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

.ads-continer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.ads {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ads-continer .ads > img{
  width: 100px;
}

.ads > p{
  color: var(--text-color);
}

.ads-continer .shortcuts{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ads-continer .shortcuts > img{
  width: 30px;
  height: 30px;
}

.ads-continer .shortcuts > h3{
  color: var(--text-color);
}

.contacts-container{
  display: flex;
  justify-content: space-between;
}

.contacts-container .contact-text > h3{
  color: var(--text-color);
}

.contacts-container .contacts-accessories{
  display: flex;
  gap: 10px;
}

.contacts-accessories > img{
  width: 20px;
}

.contacts{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts .contact-group{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
}

.contact-group > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.contact-group > span{
  color: var(--text-color);
}

.contact-group .active{
  position:absolute;
  bottom: 0px;
  left: 20px;
  width: 10px;
  height: 10px;
  background-color: var(--active-color);
  border-radius: 50%;
}