@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}
body{
  background-color:rgb(205, 214, 230) ;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.container{
  width: 450px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
}

.text{
  margin: 10px;
}

.name{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.name input{
  padding: 10px 15px;
  width: 49%;
  border: 1px solid black;
  border-radius: 5px;
}

.email{
  margin: 10px;
}
.email input{
  padding: 10px 15px;
  width: 99%;
  border: 1px solid black;
  border-radius: 5px;
}
.password{
  margin: 10px;
}
.password input{
  padding: 10px 15px;
  width: 99%;
  border: 1px solid black;
  border-radius: 5px;
}

form p{
  margin: 10px;
}

.age{
  margin: 10px;
  display: flex;
  justify-content:space-evenly;
}

.age select{
  width: 32%;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.gender{
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.gender div{
  width: 32%;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

.gender div input{
  margin-left: 10px;
  margin-top: 12px;
  margin-right: 30px;
}

.policy{
  margin: 10px;
}

.policy p{
  font-size: 12px;
  text-align: justify;
}

.policy a{
  text-decoration: none;
}

.signup{
  margin: 10px;
  display: flex;
  justify-content: center;
}

.signup input{
  padding: 8px 50px;
  background-color: rgb(28, 242, 28);
  color: white;
  border: none;
  border-radius: 5px;
}